🤐 <i>Alas!</i> Seems like <code>{social_site}</code> is not yet configured. Seems illogical, but do check 📝 spellings, and/or if the social media is yet available?

❓ Type  <code>/link --help</code> for more information.
