🔗 <code><b>/link</b></code> is a <i>special</i> command desgined for 😃 <b><i>connect me</i></b> feature. The command 🔣 <b>/link</b> can be used as follows:

  * <b><code>/link name</code></b> : this returns the referenced social media link, where <code>name</code> is either a single social media website, or a list of websites seperated by space. For example, <code>/link linkedin</code> will return my facebook profile link, or <code>/link linkedin facebook</code> will return two messages with linkedin, facebook profile links repectively.
  * <b><code>/link --all</code></b> : interested to know all the possible ways of reaching out to me 🈚🤨? Well, this is your <i>goto</i> command. Check out all my profile 😏, and/or contribution 😬 to know more about me.
  * <b><code>/link --group name</code></b> : Interested in a particular category (like social/codebase/etc) 🉑🤔? Send any of the defined group names, and <i>vola</i> all the links are there 😌!!
  * <b><code>/link --help</code> or <code>/link</code></b> : shows this documentation 😴.

Registered 🆔 profile link categories to get in touch with me are available in any of the below mentioned categories:

{categories_with_description}
