🌟 Greetings {username},

♾️ You've received the <i>default</i> message! <b><i>I'm still learning</i></b>, and your message is not parsed. 🙏 Thank you for taking time to explore my 🤖 chat bot.

Do check the detailed 📑 capabilities in the <a href = "{documentation}">documentation</a> for the current running bot version. Type /help to know more.

<b>DISCLAIMER:</b> To train the bot, the following information are logged:

  🔢 <b>Message ID:</b> {messageID}
  🔠 <b>Message Content:</b> {content}
  ✅ <b>Message Date Time:</b> {datetime}
