📔 <b>Welcome to Getting Started <i>Documentation</i></b>

The 🤖 bot is currently in {version}, for detailed usage, check <a href = "{documentation}">documentation</a>. However, use the following command(s) to control the BOT:
{commands}
